server:
  port: 8087

spring:
  application:
    name: search-service
  
  elasticsearch:
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}
    
  kafka:
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: search-service-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"

logging:
  level:
    root: INFO
    com.learn.searchservice: DEBUG
